.bundle/
log/*.log
pkg/
dragonfly.log
spec/dummy
spec/dummy/db/*.sqlite3
spec/dummy/log/*.log
spec/dummy/tmp/
*.un~
refinerycms-wordpress-import-*.gem
*.swp
Gemfile.lock

.project

.rvmrc
.ruby-gemset
.ruby-version

spec/dummy/dummy_test

tmp/rspec_guard_result

spec/dummy/dummy_test

tmp/rspec_guard_result

# Idea/RubyMine
*.iml
.generators
.rakeTasks

