.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/log/*.log
spec/dummy/tmp/
*.un~
refinerycms-wordpress-import-*.gem
*.swp
Gemfile.lock

.project

.rvmrc

spec/dummy/dummy_test

tmp/rspec_guard_result
